Before you turn this problem set in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All). Your code should run from top to bottom with no errors. Failure to do this will result in loss of points.

You should not use `install.packages()` anywhere. You may assume that we have already installed all the packages needed to run your code.

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE" and delete the `stop()` functions, as well as your name and collaborators below:

In [2]:
NAME = "aayushap"  # your uniqname 
COLLABORATORS = c("pjmerica", "sohumm", "kaspersj")  # vector of uniqnames of your collaborators, if any
## IMPORTANT: you must also have set your group on Canvas. This is only used as a backup.

---

In [3]:
library(tidyverse)
library(nycflights13)

Loading tidyverse: ggplot2
Loading tidyverse: tibble
Loading tidyverse: tidyr
Loading tidyverse: readr
Loading tidyverse: purrr
Loading tidyverse: dplyr
Conflicts with tidy packages ---------------------------------------------------
filter(): dplyr, stats
lag():    dplyr, stats

# STATS 306
## Problem Set 2: Data Manipulation
Each question is worth two points, for a total of 20. For each of these questions, start with the `flights` table in the `nycflights13` data set.

#### Problem 1
Use the `%in%` operator to extract all the flights that took place in months that begin with the letter "A". Store the resulting table in a variable called `table1`.

In [56]:
table1 <-filter(flights, month %in% c("4", "8"))

In [25]:
stopifnot(exists("table1"))

#### Problem 2
Find the number of United Airlines flights that departed exactly on time and arrived exactly on time. Store this number in a variable called `n2`.

In [54]:
n2 <- nrow(filter(flights, (dep_delay == 0 &arr_delay == 0), carrier == "UA"))
print(n2)

[1] 58

In [27]:
stopifnot(exists("n2"))

#### Problem 3
Find all flights destined for `LAX` or `SFO` which departed more than an hour late, but did not arrive late. Store this table in a variable called `table3`.

In [48]:
table3 = filter(flights, dest %in% c("LAX", "SFO") & dep_delay > 60 & arr_delay < 0)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 4     5   932      831            61        1149     1151
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 -2        UA      1223   N57852  EWR    LAX  301      2454     8    31
  time_hour
1 2013-04-05 08:00:00

In [29]:
stopifnot(exists("table3"))

#### Problem 4
Find the number of flights in May that are missing their departure time or their arrival time, but not both. Store this number in a variable called `n4`.

In [46]:
n4 <-nrow(filter(flights, month == 5, ((is.na(dep_time) | is.na(arr_time)) - (is.na(dep_time)&is.na(arr_time)))))

[1] 38

In [31]:
stopifnot(exists("n4"))

#### Problem 5
There are four flights which have a tail number that does not begin with the letter "N". Find those rows and store them in a variable called `table5`. (*Hint*: see the help for the `str_sub()` command.)

In [17]:
library(stringr)
table5 = filter(flights, "N" != str_sub(tailnum, start= 1, end = 1))

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 2     11  1508     1400           68        1807     1636
2 2013 3     23  1340     1300           40        1638     1554
3 2013 3     24   859      835           24        1142     1140
4 2013 7      5  1253     1259           -6        1518     1529
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  91       DL      2247   D942DN  LGA    ATL  131      762      14    0
2  44       DL      1685   D942DN  LGA    MCO  153      950      13    0
3   2       DL      1959   D942DN  JFK    MCO  143      944       8   35
4 -11       DL       781   D942DN  LGA    ATL  112      762      12   59
  time_hour
1 2013-02-11 14:00:00
2 2013-03-23 13:00:00
3 2013-03-24 08:00:00
4 2013-07-05 12:00:00

In [33]:
stopifnot(exists("table5"))

#### Problem 6
Find the *unique* tail numbers(s) of the flights that were in the air for the second shortest and third longest amounts of time. Store them in variables `shortest2_tail_num` and `longest3_tail_num`, respectively.

In [43]:
shortest2_tail_num = flights %>% mutate(k= min_rank(air_time)) %>% arrange(k) %>% select(tailnum, air_time, k) %>% filter(k==2) %>% select(tailnum)
head(shortest2_tail_num)
longest3_tail_num =  flights %>% mutate(k= min_rank(desc(air_time))) %>% arrange(k) %>% select(tailnum, air_time, k) %>% filter(k==3) %>% select(tailnum)
head(longest3_tail_num)

     tailnum

  tailnum
1 N388HA
2 N380HA

In [35]:
stopifnot(exists("shortest2_tail_num"))
stopifnot(exists("longest3_tail_num"))

#### Problem 7
Sort the rows of `flights` such that the months are arranged in the following order: spring, summer, fall, winter. (Here we define winter to be January-March, spring is April-June, etc.) Within each season, the months should be sorted in ascending order. After sorting, drop all columns except for month, day and tail number. Store the sorted and subsetted table in a variable called `table7`.

In [42]:
table7= flights %>% mutate(month= factor(month, levels = c(4,5,6,7,8,9,10,11,12,1,2,3))) %>% arrange(month) %>% select(month,day,tailnum)
table7

       month day tailnum
1      4     1   N566UW
2      4     1   N76288
3      4     1   N76517
4      4     1   N5DSAA
5      4     1   N784JB
6      4     1   N590JB
7      4     1   N737US
8      4     1   N750UW
9      4     1   N510MQ
10     4     1   N723EV
11     4     1   N593JB
12     4     1   N828AS
13     4     1   N3ARAA
14     4     1   N779JB
15     4     1   N659DL
16     4     1   N554UA
17     4     1   N537MQ
18     4     1   N481UA
19     4     1   N328JB
20     4     1   N330AT
21     4     1   N316NB
22     4     1   N422WN
23     4     1   N836AS
24     4     1   N3FTAA
25     4     1   N571JB
26     4     1   N27733
27     4     1   N655JB
28     4     1   N18114
29     4     1   N753EV
30     4     1   N640JB
⋮      ⋮     ⋮   ⋮
336747 3     31  N474UA
336748 3     31  N662JB
336749 3     31  N12225
336750 3     31  N14920
336751 3     31  N5EBAA
336752 3     31  N13968
336753 3     31  N77295
336754 3     31  N580JB
336755 3     31  N298JB
336756 3     31  N967AT
336757 3     31  N724EV
336758 3     31  N967UW
336759 3     31  N266JB
336760 3     31  N14704
336761 3     31  N329JB
336762 3     31  N521JB
336763 3     31  N625JB
336764 3     31  N14219
336765 3     31  N16571
336766 3     31  N12122
336767 3     31  N332NW
336768 3     31  N317US
336769 3     31  N258JB
336770 3     31  N523JB
336771 3     31  N190JB
336772 3     31  N657JB
336773 3     31  N608JB
336774 3     31  N17560
336775 3     31  N829AS
336776 3     31  NA

In [ ]:
stopifnot(exists("table7"))

#### Problem 8
Drop the even-numbered columns of `flights`. Store the resulting data table in a variable called `table8`.

In [32]:
oddvals <- seq(1, ncol(flights), by=2) 
table8=flights[,oddvals] %>% print

# A tibble: 336,776 x 10
    year   day sched_dep_time arr_time arr_delay flight origin air_time  hour
   <int> <int>          <int>    <int>     <dbl>  <int> <chr>     <dbl> <dbl>
 1  2013     1            515      830        11   1545 EWR         227     5
 2  2013     1            529      850        20   1714 LGA         227     5
 3  2013     1            540      923        33   1141 JFK         160     5
 4  2013     1            545     1004       -18    725 JFK         183     5
 5  2013     1            600      812       -25    461 LGA         116     6
 6  2013     1            558      740        12   1696 EWR         150     5
 7  2013     1            600      913        19    507 EWR         158     6
 8  2013     1            600      709       -14   5708 LGA          53     6
 9  2013     1            600      838        -8     79 JFK         140     6
10  2013     1            600      753         8    301 LGA         138     6
# ... with 336,766 more rows, and 1 more variable: time_hour <dttm>

In [ ]:
stopifnot(exists("table8"))

#### Problem 9
Define a flight to be "spooky" if it was in the air at 1:13pm on either Halloween or Friday, September 13th. There were 110 spooky flights on Friday the 13th. How many spooky flights are there in total? Store your answer in a variable called `nspooky`.

In [37]:
nspooky = nrow(flights %>% filter((day == "13"|day == "31"), (month == "9"|month == "10"), (1313 < arr_time & 1313 > dep_time)))
nspooky

[1] 318

In [ ]:
stopifnot(exists("nspooky"))

#### Problem 10
Select all the columns in flights which end with "delay". In the resulting table, define a new column `max_delay` which equals the maximum of the departure and arrival delays for each flight. For example, if a flight had a departure delay of `-1` and an arrival delay of `10`, the `max_delay` would equal `10`. Sort your table in descending order of `max_delay` and store it in a variable called `table10`.

In [34]:
table10 = select(flights, ends_with("delay")) %>% mutate(max_delay= pmax(arr_delay,dep_delay))%>% arrange(desc(max_delay)) %>% print

# A tibble: 336,776 x 3
   dep_delay arr_delay max_delay
       <dbl>     <dbl>     <dbl>
 1      1301      1272      1301
 2      1137      1127      1137
 3      1126      1109      1126
 4      1014      1007      1014
 5      1005       989      1005
 6       960       931       960
 7       911       915       915
 8       899       850       899
 9       898       895       898
10       896       878       896
# ... with 336,766 more rows

In [5]:
stopifnot(exists("table10"))